{% extends 'base.html.twig' %}
{% block body %}
<h1>WELCOME TO TWIG</h1>
{{ message }}
    {#<a href="{{ path('first_api',{'name': message}) }}">API PAGE</a>#}
    <div id="js-notes-wrapper"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
        <NoteSection />,
                document.getElementById('js-notes-wrapper')
        );
    </script>
{% endblock %}